<launch>
	<include file="$(find baxter_moveit_config)/launch/planning_context.launch">
		<arg name="load_robot_description" value="true"/>
	</include>

	<include file="$(find baxter_moveit_config)/launch/move_group.launch">
		<arg name="allow_trajectory_execution" value="false"/>
	</include>

	<rosparam command="load" file="$(find baxter_moveit_config)/config/kinematics.yaml"/>

	<node name="DrogonWebServer" pkg="drogon_interface" type="drogon_web_server" respawn="false" output="screen"/>

	<!-- node name="rosbridge" pkg="rosbridge_server" type="rosbridge_websocket" respawn="false" output="screen"/ -->

</launch>
